@import "../../css/main.scss";

.account {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
	flex-direction: column;
	padding: 1.5rem;
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 2rem;

	@media (min-width: 720px) {
		flex-direction: row;
	}

	&-amount {
		margin: 0;
		font-size: 2.5rem;
		font-weight: bold;

		&-description {
			margin: 0;
		}
	}

	&-title {
		margin: 0;
		padding: 0;
		font-size: 1rem;
		font-weight: normal;
	}

	&-content {
		&-wrapper {
			width: 100%;
			flex: 1;

			&.cta {
				flex: 0;
			}
		}
	}

	&.editing {
		background-color: #3d3d3d;
		border: 1px solid  #3d3d3d;
		border-radius: 5px;
		color: white;
		@media (max-width: 720px) {
			flex-direction: row;
		}
	}
}

.table-row {
  background-color: #00bc77;
  
}
table {
  padding: 10px 130px;
  margin: 0 50px;
  margin-bottom: 25px;
  border-spacing: 0 15px; /* Espacement par défaut pour tout le tableau */
  
  & td {
    font-weight: bold;
    padding: 10px 5px;
    color: #ffffff;
  }
}

.no-padding-margin {
  padding: 0;
  margin: 0;
}

.table-row-group {
  background-color: #00bc77; /* Remplacez par la couleur de fond souhaitée */
  border-radius: 15px; /* Appliquez le même border-radius */
}

.sub-table {
  width: 100%;
  border-spacing: 0; /* Supprimez l'espacement des bordures pour les sous-lignes */
}

.sub-table td {
  border-bottom: none; /* Supprimez la bordure inférieure des cellules des sous-lignes */
}

.first-column {
  border-radius: 15px 0px 0px 15px;
}

.last-column {
  border-radius: 0px 15px 15px 0px;
}

.cross-icon {
  position: absolute;
  right: 220px;
  top: 85px;
  height: 80px;
}
.sub-table {
  border-radius: 15px;
  width: 100%;
  
  & .first-column {
    width: 260px;
  }
  .last-column {
    padding-right: 2px;
  }
}