@import "../../css/main.scss";

.hero {
    background-image: url('../../assets/images/bank-tree.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
  
    @media (min-width: 920px) {
      height: 400px;
    
  
      .hero-content {
        position: absolute;
        top: 50px;
        right: 50px;
        width: 300px;
        margin: 1rem;
  
        .subtitle {
          font-size: 1.5rem;
        }
  
        .text {
          font-size: 1.2rem;
        }
      }
    }
  }
  .hero-content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 1rem;
  text-align: left;
  margin: 0 auto;
  }