// Variables

$font-family: Avenir, Helvetica, Arial, sans-serif;
$color-primary: #2c3e50;
$color-secondary: #42b983;
$color-bg-dark: #12002b;
$color-gray: #ccc;
$color-button: #00bc77;

// Global styles
html {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-primary;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.fa{
	margin: 5px;
}
.bg-dark {
	background-color: #12002b;
}

.editing {
	background-color: #fff;
	/* Arrière-plan blanc */
	color: black;
}

.input {
	&-remember {
		display: flex;

		label {
			margin-left: 0.25rem;
		}
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		text-align: left;
		margin-bottom: 1rem;

		label {
			font-weight: bold;
		}

		input {
			padding: 5px;
			font-size: 1.2rem;
		}
	}
}


.editing.header {
	color:#404040 ;/* Titre en noir lorsque le mode édition est activé */
  }
.transaction-button {
	display: block;
	width: 100%;
	padding: 8px;
	font-size: 1.1rem;
	font-weight: bold;
	margin-top: 1rem;
	border-color: $color-button;
	background-color: $color-button;
	color: #fff;

	@media (min-width: 720px) {
		width: 200px;
	}
}

.chevron-icon {
	color: #fff;
	font-size: 45px;
	transition: color 0.3s ease, transform 0.3s ease;
	cursor: pointer;
	&:hover {
		color: darken(white, 10%);
		transform: scale(1.15);
	}
}

button {
	transition: background-color 0.3s ease, transform 0.3s ease;
  
	&:hover {
	  background-color: darken($color-button, 10%); 
	  transform: scale(1.05); 
	}
  }
  
